<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
  </head>

  <html>
    <div class="errorPage">
      <span class="oops">Oops!</span><br/>
      <img th:src="@{/img/MissingPage.png}"></img>
      <p>There seems to be a problem with the page you requested</p>
      <p th:text="${'Details: ' + message}"></p>
    </div>
  </html>

</html>
