<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      ng-app="RequestEnvelope">
    <head>
        <title>Snatching Envelope</title>
        <!--Bootstrap and jquery-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
              crossorigin="anonymous"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/home.css}"></link>

        <!-- angularJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.min.js"></script>
        <script type="text/javascript" th:src="@{/js/app.js}"></script>

        <!-- icon -->
        <link rel="stylesheet" th:href="@{/css/open-iconic/font/css/open-iconic-bootstrap.css}"></link>
    </head>
    <body ng-controller="SnatchEnvelopeController">
        <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About Me</h4>
                        <p class="text-muted">
                            英文名Makris，喜好嘗試新的事物。最近剛從行動端走向後端工程師，最近剛要退伍。雖然在網頁上開發經驗不多，
                            但立志成為Java 後端高手。在後端領域對於系統架構特別有興趣，像是網站伸縮、性能、擴展性及安全等，
                            希冀能在人生有限的時間內成為系統架構師。
                            人生格言：Be Realistic, Demand Impossible
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/MakrisHuang" class="text-white">Follow on Github</a></li>
                            <li><a href="https://www.facebook.com/vallwesture.huang" class="text-white">Like on Facebook</a></li>
                            <li><a href="mailto:vallwesture@gmail.com" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-danger box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <span class="oi oi-envelope-open" style="margin-right: 10px"></span>
                    <strong>Snatch Red Envelope</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
        <br />
        <main role="main">
            <section class="jumbotron-fluid text-center">
                <div class="container">
                    <h1 th:inline="text" class="jumbotron-heading">歡迎, [[${#httpServletRequest.remoteUser}]]!</h1>
                    <small>
                        請設定使用者數量，以及每位使用者想要搶奪的紅包數量。設定完成後請按Start鍵，搶紅包的結果將會於下面展示出來。
                        若搶奪的紅包數量大，亦有可能造成網頁回應較慢。
                    </small>
                    <br /><br />
                    <div class="row">
                        <!--<form class="form-group">-->
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label for="user">使用者數量(Min = 1, Max = 3)</label>
                                            <input type="number" class="form-control" min="1" max="3"
                                                   name="numOfUser" id="user" ng-model="numOfUser"
                                                    ng-change="updateUsersInfo()"></input>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label for="redEnvelope">每位欲搶紅包數量 (Min = 2000, Max = 5000)</label>
                                            <input type="number" class="form-control" min="2000" max="5000"
                                                   name="numOfRedEnvelopeRequested" id="redEnvelope"
                                                   ng-model="numOfRedEnvelopeRequested"
                                                   ng-change="updateUsersInfo()"></input><br />
                                        </div>
                                    </div>
                                </div>
                        <!--</form>-->
                        <div class="col-md-3">
                            <form th:action="@{/logout}" method="post" >
                                <button type="button" class="btn btn-primary form-control" ng-click="start()">Start</button><br /><br />
                                <button type="button" class="btn btn-success form-control" ng-click="reset()">Reset</button><br /><br />
                                <button type="submit" class="btn btn-danger form-control" value="Sign Out">Logout</button><br /><br />
                            </form>
                        </div>
                    </div>


                </div>
            </section>
            <div class="py-5 bg-light">
                <div class="container">
                    <div class="row" ng-repeat="user in users">
                        <div class="col-md-12">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body scroll">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Obtained: {{user.obtainedEnvelopes}}</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Remaining: {{user.remainingEnvelopes}}</button>
                                        </div>
                                        <small class="text-muted">Time elapsed for requesting 60% of envelopes: {{user.timeElapsed}}</small>
                                    </div>
                                    <hr />
                                    <ul ng-repeat="result in user.results">
                                        <li>{{result}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>